<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/nav.css">
</head>
<body>

<nav class="topnav" id="myTopnav">
    <div class="navContainer">
        <a class="logoMain" href="#home">VISION PORTFOLIO </a>
        <a href="javascript:void(0);" class="icon" id="menuIcon" onclick="toggleMenu()">
             <i class="fa fa-bars"></i>
        </a>   
    </div>
  <div class="menu" id="menuItems">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
</nav>

<script>
  function toggleMenu() {
    var nav = document.getElementById("myTopnav");
    var icon = document.getElementById("menuIcon").children[0];
    nav.classList.toggle("responsive");
    if (nav.classList.contains("responsive")) {
      icon.classList.remove("fa-bars");
      icon.classList.add("fa-times"); // Switch to close icon
    } else {
      icon.classList.remove("fa-times");
      icon.classList.add("fa-bars"); // Switch back to menu icon
    }
  }
</script>

</body>
</html>
